@import "tailwindcss";




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-marope: 'Marope', sans-serif;
}

.font-marope {
  font-family: var(--font-marope);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-page { background-color: #f6f8fc; }
.bg-card { background-color: #ffffff; }

.text-substitute {color:#f6f8fc}
.dark .text-substitute {color:#121826}


.text-neutral-gray { color: #9aa3b2; }
.text-primary {color:#0a0a0a}
.dark .text-primary {color:#c2c8d6}

.text-primary-light { color: #8fa8e8; }
.text-primary-medium { color: #6495ed; } 
.text-primary-dark { color: #4a73c9; }
.text-primary-deep { color: #2f4fa3; }

.bg-primary-light { background-color: #8fa8e8; }
.bg-primary-medium { background-color: #6495ed; }
.bg-primary-dark { background-color: #4a73c9; }
.bg-primary-deep { background-color: #2f4fa3; }

.border-primary-light { border-color: #8fa8e8; }
.border-primary-medium { border-color: #6495ed; }
.border-primary-dark { border-color: #4a73c9; }
.border-primary-deep { border-color: #2f4fa3; }


.dark .bg-page { background-color: #121826; }
.dark .bg-card { background-color: #1b2235; }

.dark .text-neutral-gray { color: #c2c8d6; }

.dark .text-primary-light { color: #8fa8e8; }
.dark .text-primary-medium { color: #6495ed; }
.dark .text-primary-dark { color: #4a73c9; }
.dark .text-primary-deep { color: #2f4fa3; }

.dark .bg-primary-light { background-color: #8fa8e8; }
.dark .bg-primary-medium { background-color: #6495ed; }
.dark .bg-primary-dark { background-color: #4a73c9; }
.dark .bg-primary-deep { background-color: #2f4fa3; }

.dark .border-primary-light { border-color: #8fa8e8; }
.dark .border-primary-medium { border-color: #6495ed; }
.dark .border-primary-dark { border-color: #4a73c9; }
.dark .border-primary-deep { border-color: #2f4fa3; }






::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none; 
  scrollbar-color: transparent transparent; 
}

body {
  -ms-overflow-style: none;
}



.bitmap {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
