@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-marope: 'Marope', sans-serif;
}

.font-marope {
  font-family: var(--font-marope);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-page { background-color: #f8f8f8; }
.bg-card { background-color: #ffffff; }
.text-neutral-gray { color: #aaaaaa; }
.text-primary-light { color: #6d8f79; }
.text-primary-medium { color: #4c745f; }
.text-primary-dark { color: #325c4b; }
.text-primary-deep { color: #1b614a; }
.bg-primary-light { background-color: #6d8f79; }
.bg-primary-medium { background-color: #4c745f; }
.bg-primary-dark { background-color: #325c4b; }
.bg-primary-deep { background-color: #1b614a; }
.border-primary-light { border-color: #6d8f79; }
.border-primary-medium { border-color: #4c745f; }
.border-primary-dark { border-color: #325c4b; }
.border-primary-deep { border-color: #1b614a; }


.dark .bg-page { background-color: #1b1b1b; }
.dark .bg-card { background-color: #2c2c2c; }
.dark .text-neutral-gray { color: #cccccc; }
.dark .text-primary-light { color: #6d8f79; }
.dark .text-primary-medium { color: #4c745f; }
.dark .text-primary-dark { color: #325c4b; }
.dark .text-primary-deep { color: #1b614a; }
.dark .bg-primary-light { background-color: #6d8f79; }
.dark .bg-primary-medium { background-color: #4c745f; }
.dark .bg-primary-dark { background-color: #325c4b; }
.dark .bg-primary-deep { background-color: #1b614a; }
.dark .border-primary-light { border-color: #6d8f79; }
.dark .border-primary-medium { border-color: #4c745f; }
.dark .border-primary-dark { border-color: #325c4b; }
.dark .border-primary-deep { border-color: #1b614a; }





::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none; 
  scrollbar-color: transparent transparent; 
}

body {
  -ms-overflow-style: none;
}


